/* GENERAL STYLESHEET */



/*--------------------------------
  
            COMMON VALUES 

---------------------------------*/


* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

h1, h2, h3 {
	font-family: 'Montserrat', sans-serif;
	color: #fafafa;
	text-align: center;
	padding: 50px 0 30px 0;
}

p {
	font-family: 'Cabin', sans-serif;
	color: #fafafa;
	text-align: center;
}

.bodytext {
	height: auto;
	max-width: 600px;
	margin: auto;
	padding-bottom: 35px;
}

/*---------- HEADER -------------*/

header {
	max-width: 100%;
	background-color: transparent;
}

.head {
	max-width: 1280px;
}

.menu {
	max-height: 50px;
	max-width: 500px;
	z-index: 101;
	top: 0;
	left: 0;
	right: 0;
	margin: auto;
	position: fixed;
	background-color: #161718;
	opacity: 0.6;
	-moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  	-webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  	transition: opacity 0.5s ease;
}

.menu:hover {
	opacity: 1;
}

/*-------- CONTAINER ------------*/

.container {
	height: auto;
	max-width: 100%;
	background-image: url(../img/background2.jpg);
	background-repeat: repeat-y;
	background-position: center;
}

.container a {
	height: auto;
	max-width: 200px;
	font-family: 'Montserrat', sans-serif;
	color: #fafafa;
	font-size: 1em;
	text-align: center;
	text-decoration: none;
	padding: 7px;
	border: 3px solid #fafafa;
	display: block;
	margin: auto;
	-webkit-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

.container a:hover {
	background-color: dodgerblue;
	border: 3px solid dodgerblue;
}

.levelone {
	margin: auto;
	padding-bottom: 40px;
	position: relative;
	background-color: midnightblue;
}

.leveltwo {
	margin: auto;
	padding-bottom: 40px;
	position: relative;
	background-color: #1f1f8c;
	z-index: 20;
	-moz-box-shadow: 
	0 6px 1px rgba(0,0,0,.1),
            0 0 5px rgba(0,0,0,.1),
            0 1px 3px rgba(0,0,0,.3),
            0 3px 5px rgba(0,0,0,.2),
            0 5px 10px rgba(0,0,0,.25),
            0 10px 10px rgba(0,0,0,.2),
            0 20px 20px rgba(0,0,0,.15),
            0 -6px 1px rgba(0,0,0,.1),
            0 0 5px rgba(0,0,0,.1),
            0 -1px 3px rgba(0,0,0,.3),
            0 -3px 5px rgba(0,0,0,.2),
            0 -5px 10px rgba(0,0,0,.25),
            0 -10px 10px rgba(0,0,0,.2),
            0 -20px 20px rgba(0,0,0,.15);;
  	-webkit-box-shadow: 
  	0 6px 1px rgba(0,0,0,.1),
            0 0 5px rgba(0,0,0,.1),
            0 1px 3px rgba(0,0,0,.3),
            0 3px 5px rgba(0,0,0,.2),
            0 5px 10px rgba(0,0,0,.25),
            0 10px 10px rgba(0,0,0,.2),
            0 20px 20px rgba(0,0,0,.15),
            0 -6px 1px rgba(0,0,0,.1),
            0 0 5px rgba(0,0,0,.1),
            0 -1px 3px rgba(0,0,0,.3),
            0 -3px 5px rgba(0,0,0,.2),
            0 -5px 10px rgba(0,0,0,.25),
            0 -10px 10px rgba(0,0,0,.2),
            0 -20px 20px rgba(0,0,0,.15);;
  	box-shadow: 
  			0 6px 1px rgba(0,0,0,.1),
            0 0 5px rgba(0,0,0,.1),
            0 1px 3px rgba(0,0,0,.3),
            0 3px 5px rgba(0,0,0,.2),
            0 5px 10px rgba(0,0,0,.25),
            0 10px 10px rgba(0,0,0,.2),
            0 20px 20px rgba(0,0,0,.15),
            0 -6px 1px rgba(0,0,0,.1),
            0 0 5px rgba(0,0,0,.1),
            0 -1px 3px rgba(0,0,0,.3),
            0 -3px 5px rgba(0,0,0,.2),
            0 -5px 10px rgba(0,0,0,.25),
            0 -10px 10px rgba(0,0,0,.2),
            0 -20px 20px rgba(0,0,0,.15);
}

.levelthree {
	margin: auto;
	background-color: #2525a8;
	box-shadow: 0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);
}

.levelone, .leveltwo, .levelthree h2 {
	-webkit-transition: all 1s ease;
	transition: all 1s ease;
}

.levelone:hover, 
.leveltwo:hover, 
.levelthree:hover h2 {
	text-shadow: 0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);
}

.levelone, .leveltwo, .levelthree a {
	-webkit-transition: all 1s ease;
	transition: all 1s ease;
}

.levelone:hover a {
	box-shadow: 0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);
}

.leveltwo:hover a {
	box-shadow: 0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);
}

.levelthree:hover a {
	box-shadow: 0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);
}

.wherecon {
	height: auto;
	width: 100%;
	padding-bottom: 40px;
	position: relative;
	background-image: url(../img/background-where.jpg);
	background-position: center;
	background-repeat: no-repeat;
	-moz-box-shadow: 
	0 -6px 9px 0 rgba(0, 0, 0, 0.2), 0 -9px 30px 0 rgba(0, 0, 0, 0.19), 
	0 6px 9px 0 rgba(0, 0, 0, 0.2), 0 9px 30px 0 rgba(0, 0, 0, 0.19);
  	-webkit-box-shadow: 
  	0 -6px 9px 0 rgba(0, 0, 0, 0.2), 0 -9px 30px 0 rgba(0, 0, 0, 0.19),
  	0 6px 9px 0 rgba(0, 0, 0, 0.2), 0 9px 30px 0 rgba(0, 0, 0, 0.19);
  	box-shadow: 
  	0 -6px 9px 0 rgba(0, 0, 0, 0.2), 0 -9px 30px 0 rgba(0, 0, 0, 0.19),
  	0 6px 9px 0 rgba(0, 0, 0, 0.2), 0 9px 30px 0 rgba(0, 0, 0, 0.19);
}

.wherebutton {
	height: auto;
	max-width: 280px;
	margin: auto;
}

.wherebutton a {
	height: auto;
	max-width: 280px;
}


/*---------- FOOTER ------------*/

footer {
	height: auto;
	max-width: 100%;
	background-color: black;
}

footer p {
	padding-bottom: 30px;
	font-size: 0.7em;
}

.foot {
	max-width: 1120px;
	margin: auto;
}

.footnav {
	height: auto;
	max-width: 500px;
	top: 0;
	left: 0;
	right: 0;
	margin: auto;
	padding-top: 50px;
	padding-bottom: 30px;
}


nav ul {
	list-style-type: none;
	display: flex;
	align-items: center;
}

nav ul li {
	float: left;
	flex-grow: 1;
}

nav a {
	padding-top: 7px;
	padding-bottom: 10px;
	text-decoration: none;
	text-align: center;
	display: block;
	color: #fafafa;
	font-family: 'Cabin', sans-serif;
}

nav img {
	height: 35px;
	width: auto;
}

.footnav img {
	height: 50px;
	width: auto;
}