@media (max-width: 480px) {

/*--------------------------------
  
            COMMON VALUES 

---------------------------------*/

.menu, .footnav {
	height: 100px;
	width: 100%;
}

.fixed {
	opacity: 1;
}

nav a {
	font-size: 0.5em;
}

nav img {
	height: 70px;
	width: auto;
}

.footnav img {
	height: 100px;
	width: auto;
}

/*--------------------------------
  
            PAGES 

---------------------------------*/

/*--------- INDEX ------------*/



/*--------- WHAT ------------*/



/*--------- HOW ------------*/



/*--------- WHO ------------*/



/*--------- WHERE ------------*/




}