@media (max-width: 480px) {

/*--------------------------------
  
            COMMON VALUES 

---------------------------------*/

.menu, .footnav {
	height: 100px;
	width: 100%;
}

.fixed {
	opacity: 1;
}

nav a {
	font-size: 1em;
}

nav img {
	height: 50px;
	width: auto;
}

.footnav img {
	height: 60px;
	width: auto;
}

.container a {
	max-width: 300px;
	background-color: dodgerblue;
	border: 3px solid dodgerblue;
}

/*--------------------------------
  
            PAGES 

---------------------------------*/

/*--------- INDEX ------------*/

.introtag h1 {
	font-size: 2em;
}

.poemcon {
	width: 80%;
	padding-top: 200px;
}

.poemcon p {
	font-size: 0.8em;
}

.projects {
	display: none;
}

.descriptimg {
	display: block;
}


/*--------- WHAT ------------*/



/*--------- HOW ------------*/



/*--------- WHO ------------*/



/*--------- WHERE ------------*/




}