@media (max-width: 480px) {

/*--------------------------------
  
            COMMON VALUES 

---------------------------------*/

.menu {
	width: 80%;
}

.fixed {
	opacity: 1;
}

.footnav {
	width: 80%;
}

/*--------------------------------
  
            PAGES 

---------------------------------*/

/*--------- INDEX ------------*/



/*--------- WHAT ------------*/



/*--------- HOW ------------*/



/*--------- WHO ------------*/



/*--------- WHERE ------------*/




}