/*------------------------------

            INDEX      

-------------------------------*/



/*--------- INTRO ------------*/

.introcon {
	height: 1080px;
	width: 100%;
	position: relative;
	overflow: hidden;
}

.introcon img {
	max-width: 1920px;
	position: absolute;
}

.poemcon {
	height: auto;
	max-width: 500px;
	position: relative;
	margin: auto;
	text-align: center;
	z-index: 1
}

.poemcon p {
	font-family: 'Cabin', sans-serif;
	font-style: italic;
	font-size: 1vw;
	color: #fafafa;
}

/*---------- WHO --------------*/

.whobox {
	height: auto;
	max-width: 800px;
	position: relative;
}


/*----------- HOW --------------*/

.howbox {
	height: auto;
	max-width: 1120px;	
}

.design-devbox {
	height: 200px;
	max-width: 1120px;
	margin: auto;
	background-color: #1f1f8c;
}

.desdev-box {
	height: 200px;
	width: 0;
	margin: auto;
	overflow: hidden;
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
}

.left {
	float: left;
}

.right {
	float: right;
}

.howbox .bodytext {
	padding-top: 35px;
}

.howbox:hover .desdev-box {
	width: 100%;
	
}

.indexdev {
	max-width: 80%;
	padding-top: 400px;
	margin: auto;
	transition: padding-top 0.8s ease;
	transition-delay: 0.8s;
}

.indexdevchild {
	height: 300px;
	width: 200px;
	margin: auto;
	background-color: orange;
}

.howbox:hover .indexdev {
	padding-top: 0;
}

/*------------ WHAT -------------*/

.whatbox {
	height: auto;
	max-width: 800px;
}


/*------------------------------

            WHAT      

-------------------------------*/


/*------------ PROJECTS -------------*/

.what .howbox {
	height: 100px;
	max-width: 480px;
	z-index: 25;
	position: relative;
	background-color: #2525a8;
}

.carrousample {
	max-width: 475px;
	margin: auto;
}

.carrousample a {
	max-width: 100px;
	border: none;
}


/*------------ DESCRIPTION -------------*/

.descriptcon {
	height: auto;
	max-width: 1120px;
	overflow: auto;
	background-color: #1f1f8c;
}

.descriptimg{
	height: auto;
	max-width: 70%;
	float: left;
}

.sampleviews {
	width: 300px;
}

.sampleviews a {
	border: none;
}

.descriptbox{
	height: auto;
	max-width: 30%;
	float: right;
}


/*------------ WHERE -------------*/

.wherecon {
	clear: both;
}


/*------------------------------

            HOW      

-------------------------------*/

/*------------ SKILLS/TOOLS -------------*/


.magicboxcon {
	height: auto;
	width: 960px;
	position: relative;
}

.magicbox {
	height: auto;
	width: 50%;
}

.magicbox:hover h3 {
	text-shadow: 0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);
}


.outer {
	height: 200px;
	width: 200px;
	margin: auto;
	margin-top: 50px;
	margin-bottom: 50px;
	background-color: dodgerblue;
}

.how .howbox {
	padding-bottom: 20px;
	z-index: 25;
	clear: both;
	background-color: #2525a8;
}


/*------------------------------

            WHO      

-------------------------------*/

/*------------- BIO -------------*/

.biobox {
	height: 400px;
	max-width: 800px;
}

/*------------ FUN-FACTS -------------*/

.funcon {
	height: 100px;
	max-width: 1040px;
	z-index: 25;
	background-color: #2525a8;
}

/*------------ HISTORY -------------*/

.historybox {
	height: 800px;
	max-width: 960px;
}

/*------------ VALUES -------------*/

.valuebox {
	height: 200px;
	max-width: 1120px;
}