/*------------------------------

            INDEX      

-------------------------------*/



/*--------- INTRO ------------*/

.introcon {
	height: auto;
	width: 100%;
	position: relative;
	background-color: #000229;
}

.index .intro {
	min-height: 894px;
	max-width: 1920px;
	background-image: url(../img/index/cover.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

.introtag {
	height: 100px;
	max-width: 1920px;
	padding-top: 100px;
}

.introtag h1 {
	font-size: 2.7em;
	text-shadow: 0 6px 1px rgba(0,0,0,.1),
            0 0 5px rgba(0,0,0,.1),
            0 1px 3px rgba(0,0,0,.3),
            0 3px 5px rgba(0,0,0,.2),
            0 5px 10px rgba(0,0,0,.25),
            0 10px 10px rgba(0,0,0,.2),
            0 20px 20px rgba(0,0,0,.15);
}

.poemcon {
	height: auto;
	max-width: 500px;
	position: relative;
	margin: auto;
	text-align: center;
	padding-top: 250px;
}

.poemcon p {
	font-family: 'Cabin', sans-serif;
	font-style: italic;
	font-size: 1.1em;
	color: #fafafa;
	text-shadow: 0 6px 1px rgba(0,0,0,.1),
            0 0 5px rgba(0,0,0,.1),
            0 1px 3px rgba(0,0,0,.3),
            0 3px 5px rgba(0,0,0,.2),
            0 5px 10px rgba(0,0,0,.25),
            0 10px 10px rgba(0,0,0,.2),
            0 20px 20px rgba(0,0,0,.15);
}



/*---------- WHO --------------*/

.whobox {
	height: auto;
	max-width: 800px;
	position: relative;
	margin-top: 30px;
}


/*----------- HOW --------------*/

.howbox {
	height: auto;
	max-width: 1120px;	
}

.design-devbox {
	height: 250px;
	max-width: 1120px;
	margin: auto;
	background-color: #1f1f8c;
}

.desdev-box {
	height: 250px;
	width: 0;
	margin: auto;
	overflow: hidden;
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
}

.left {
	float: left;
}

.right {
	float: right;
}

.howbox .bodytext {
	padding-top: 35px;
}

.howbox:hover .desdev-box {
	width: 100%;	
}

.indexdev {
	max-width: 80%;
	padding-top: 400px;
	margin: auto;
	transition: padding-top 0.8s ease;
	transition-delay: 0.8s;
}

.cardcon {
	height: 250px;
}

.cardcon p {
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	color: #fafafa;
	font-size: 1.1em;
	text-shadow: none;
}

.card {
	height: 200px;
	width: 200px;
	margin: auto;
	transform-style: preserve-3d;
	transform: perspective(800px);
}

.front {
	background-color: #2525a8;
}

.front img {
	height: 200px;
	width: 200px;
	border-radius: 10px;
}

.back {
	background-color: #2525a8;
}

.back img {
	height: 200px;
	width: 200px;
	border-radius: 10px;
}


.front, .back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.front, .back {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transition: -webkit-transform 0.3s;
          transition: transform 0.3s;
}

.back {
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}

.card:hover .front {
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}

.card:hover .back {
  -webkit-transform: rotateY(0);
          transform: rotateY(0);
}

.howbox:hover .indexdev {
	padding-top: 0;
}

/*------------ WHAT -------------*/

.whatbox, .mobiwhatbox {
	height: auto;
	max-width: 800px;
}

.whatbox p, .mobiwhatbox p {
	padding-bottom: 20px;
}

.whatbox .bodytext p,
.mobiwhatbox .bodytext p {
	padding-top: 20px;
}

.mobiwhatbox {
	display: none;
}

.mobiwhatbox .descriptimg {
	height: auto;
	width: 100%;
	margin: auto;
	float: none;
}

.projects {
	height: auto;
	max-width: 758px;
	margin: auto;
}

.projects img {
	height: auto;
	width: 250px;
	padding: 5px;
	filter: grayscale(0.6);
	transition: all 0.5s ease;
}

.projects img:hover {
	filter: grayscale(0);
	background-color: #fafafa;
	box-shadow: 
			0 6px 1px rgba(0,0,0,.1),
            0 0 5px rgba(0,0,0,.1),
            0 1px 3px rgba(0,0,0,.3),
            0 3px 5px rgba(0,0,0,.2),
            0 5px 10px rgba(0,0,0,.25),
            0 10px 10px rgba(0,0,0,.2),
            0 20px 20px rgba(0,0,0,.15);
} 

/*------------------------------

            WHAT      

-------------------------------*/

.what .intro {
	min-height: 600px;
	max-width: 1920px;
	background-image: url(../img/what/cover.jpeg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	z-index: 30;
	box-shadow: 
			0 6px 1px rgba(0,0,0,.1),
            0 0 5px rgba(0,0,0,.1),
            0 1px 3px rgba(0,0,0,.3),
            0 3px 5px rgba(0,0,0,.2),
            0 5px 10px rgba(0,0,0,.25),
            0 10px 10px rgba(0,0,0,.2),
            0 20px 20px rgba(0,0,0,.15);
}

.what .introtag {
	padding-top: 200px;
}
/*------------ PROJECTS -------------*/

.what .howbox {
	height: auto;
	max-width: 600px;
	z-index: 25;
	position: relative;
	background-color: #2525a8;
}

.carrousample {
	width: 600px;
	margin: auto;
	padding-left: 25px;
}

.sitebox {
	width: 80px;
	margin: auto;
}

.carrousample img {
	height: 80px;
	border: none;
	text-align: center;
	cursor: pointer;
	filter: grayscale(0.6);
	transition: all 0.5s ease;
}

.carrousample li:hover img {
	filter: grayscale(0);
}

.selected img {
	filter: grayscale(0);
}

/*------------ DESCRIPTION -------------*/

.descriptcon {
	height: auto;
	max-width: 1120px;
	overflow: auto;
	background-color: #1f1f8c;
}

.descriptimg{
	height: auto;
	width: 60%;
	float: left;
}

.sample {
	height: 470px;
	width: 350px;
	margin: auto;
	margin-top: 35px;
	margin-bottom: 30px;
	overflow: hidden;
	background-color: #fafafa;
	transition: box-shadow 0.5s ease;
}

.sample img {
	position: absolute;
	display: none;
	transition: all 0.5 ease;
}

.sample img.selected {
	position: relative;
	display: block;
}

.sample:hover {
	box-shadow: 
  			0 6px 1px rgba(0,0,0,.1),
            0 0 5px rgba(0,0,0,.1),
            0 1px 3px rgba(0,0,0,.3),
            0 3px 5px rgba(0,0,0,.2),
            0 5px 10px rgba(0,0,0,.25),
            0 10px 10px rgba(0,0,0,.2),
            0 20px 20px rgba(0,0,0,.15);
}

.sampleviews {
	width: 300px;
	margin: auto;
}

.sampleviews li {
	padding-top: 5px;
	padding-bottom: 5px;
	text-shadow: none;
	text-align: center;
	color: #fafafa;
	cursor: pointer;
	font-family: 'Cabin', sans-serif;
	transition: all 0.5s ease;
}

.sampleviews li:hover {
	background-color: dodgerblue;
	text-shadow: 
  			0 6px 1px rgba(0,0,0,.1),
            0 0 5px rgba(0,0,0,.1),
            0 1px 3px rgba(0,0,0,.3),
            0 3px 5px rgba(0,0,0,.2),
            0 5px 10px rgba(0,0,0,.25),
            0 10px 10px rgba(0,0,0,.2),
            0 20px 20px rgba(0,0,0,.15);
}

.descriptbox{
	height: auto;
	max-width: 40%;
	float: right;
}

.descript p {
	text-shadow: none;
	text-align: justify;
	padding: 30px;
}


/*------------ WHERE -------------*/

.wherecon {
	clear: both;
}


/*------------------------------

            HOW      

-------------------------------*/

.how .intro {
	min-height: 600px;
	max-width: 1920px;
	background-image: url(../img/how/cover.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	z-index: 30;
	box-shadow:
			0 6px 1px rgba(0,0,0,.1),
            0 0 5px rgba(0,0,0,.1),
            0 1px 3px rgba(0,0,0,.3),
            0 3px 5px rgba(0,0,0,.2),
            0 5px 10px rgba(0,0,0,.25),
            0 10px 10px rgba(0,0,0,.2),
            0 20px 20px rgba(0,0,0,.15);
}

.how .introtag {
	padding-top: 200px;
}

/*------------ SKILLS/TOOLS -------------*/


.magicboxcon {
	height: auto;
	width: 960px;
	position: relative;
	background-color: transparent;
}

.skillbox {
	height: auto;
	width: 49.5%;
	padding-bottom: 0px;
	background-color: transparent;
}

.skill {
	height: 300px;
	width: 100%;
	margin: auto;
	margin-top: 10px;
	margin-bottom: 10px;
	overflow: hidden;
    position: relative;
    text-align: center;
    cursor: default;
	box-shadow: none;
	background-color: transparent;
}

.skill .mask, .skill .content {
    height: 300px;
    width: 100%;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
}

.skill h2 {
    text-transform: uppercase;
    color: #fafafa;
    text-align: center;
    position: relative;
    font-size: 17px;
    padding: 10px;
    margin: 20px 0 0 0
}

.skill p {
    font-family: Georgia, serif;
    font-style: italic;
    font-size: 12px;
    position: relative;
    color: #fff;
    padding: 10px 20px 20px;
    text-align: center
}

.skill .mask { 
	background-color: dodgerblue;
}

.skillone .mask{
	opacity: 0;
	transform: translate(-460px, -100px) rotate(-90deg);
	transition: all 0.5s 0.8s ease-in-out;
}

.skillthree .mask {
	opacity: 0;
	transform: translate(-460px, -100px) rotate(-180deg);
	transition: all 0.5s 0.8s ease-in-out;
}

.skillone h2, .skillthree h2{
	transform: translateY(-100px);
	transition: all 0.5s ease-in-out;
}

.skillone p { 
	transform: translateX(-500px) rotate(-180deg);
	transition: all 0.5s ease-in-out;
}

.skillthree p { 
	transform: translateX(-500px) rotate(180deg);
	transition: all 0.5s ease-in-out;
}

.skilltwo .mask {
	opacity: 0;
	transform: translate(460px, -100px) rotate(180deg);
	transition: all 0.5s 0.8s ease-in-out;
}

.skillfour .mask {
	opacity: 0;
	transform: translate(460px, -100px) rotate(-90deg);
	transition: all 0.5s 0.8s ease-in-out;
}

.skilltwo h2, .skillfour h2{
	transform: translateY(-100px);
	transition: all 0.5s ease-in-out;
}

.skilltwo p { 
	transform: translateX(300px) rotate(90deg);
	transition: all 0.5s ease-in-out;
}

.skillfour p {
	transform: translateX(300px) rotate(-90deg);
	transition: all 0.5s ease-in-out;
}

.magicboxcon:hover .skillone .mask { 
	opacity:1; 
	transition-delay: 0s;							 
	transform: translate(0px, 0px);
}

.magicboxcon:hover .skilltwo .mask { 
	opacity:1; 
	transition-delay: 0.3s;							 
	transform: translate(0px, 0px);
}

.magicboxcon:hover .skillthree .mask { 
	opacity:1; 
	transition-delay: 0.6s;							 
	transform: translate(0px, 0px);
}

.magicboxcon:hover .skillfour .mask { 
	opacity:1; 
	transition-delay: 0.9s;							 
	transform: translate(0px, 0px);
}

.magicboxcon:hover .skillone h2 { 
	transform: translateY(0px); 
	transition-delay: 0.8s; 
}

.magicboxcon:hover .skilltwo h2 { 
	transform: translateY(0px); 
	transition-delay: 1.2s; 
}

.magicboxcon:hover .skillthree h2 { 
	transform: translateY(0px); 
	transition-delay: 1.6s; 
}

.magicboxcon:hover .skillfour h2 { 
	transform: translateY(0px); 
	transition-delay: 2s; 
}

.magicboxcon:hover .skillone p { 
    transform: translateX(0px) rotate(0deg);
	transition-delay: 1s;
}

.magicboxcon:hover .skilltwo p { 
    transform: translateX(0px) rotate(0deg);
	transition-delay: 1.4s;
}

.magicboxcon:hover .skillthree p { 
    transform: translateX(0px) rotate(0deg);
	transition-delay: 1.8s;
}

.magicboxcon:hover .skillfour p { 
    transform: translateX(0px) rotate(0deg);
	transition-delay: 2.2s;
}

.magicbox {
	height: auto;
	width: 49.5%;
}

.magicbox:hover h3 {
	text-shadow: 0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);
}

.outer {
	height: 200px;
	width: 60%;
	margin: auto;
	margin-top: 20px;
	margin-bottom: 30px;
}

.inner {
    width: 300px;
    height: 100%;
    overflow: hidden;
    position: relative;
    text-align: center;
    background-color: #181666;
    cursor: default;
    box-shadow:
			inset 0 6px 1px rgba(0,0,0,.1),
            inset 0 0 5px rgba(0,0,0,.1),
            inset 0 1px 3px rgba(0,0,0,.3),
            inset 0 3px 5px rgba(0,0,0,.2),
            inset 0 5px 10px rgba(0,0,0,.25),
            inset 0 10px 10px rgba(0,0,0,.2),
            inset 0 20px 20px rgba(0,0,0,.15),
            inset 0 -6px 1px rgba(0,0,0,.1),
            inset 0 0 5px rgba(0,0,0,.1),
            inset 0 -1px 3px rgba(0,0,0,.3),
            inset 0 -3px 5px rgba(0,0,0,.2),
            inset 0 -5px 10px rgba(0,0,0,.25),
            inset 0 -10px 10px rgba(0,0,0,.2),
            inset 0 -20px 20px rgba(0,0,0,.15);
}

.inner .mask, .inner .content {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    background-color: dodgerblue;
    box-shadow:
			inset 0 6px 1px rgba(0,0,0,.1),
            inset 0 0 5px rgba(0,0,0,.1),
            inset 0 1px 3px rgba(0,0,0,.3),
            inset 0 3px 5px rgba(0,0,0,.2),
            inset 0 5px 10px rgba(0,0,0,.25),
            inset 0 10px 10px rgba(0,0,0,.2),
            inset 0 20px 20px rgba(0,0,0,.15),
            inset 0 -6px 1px rgba(0,0,0,.1),
            inset 0 0 5px rgba(0,0,0,.1),
            inset 0 -1px 3px rgba(0,0,0,.3),
            inset 0 -3px 5px rgba(0,0,0,.2),
            inset 0 -5px 10px rgba(0,0,0,.25),
            inset 0 -10px 10px rgba(0,0,0,.2),
            inset 0 -20px 20px rgba(0,0,0,.15);
}

.inner h2 {
    text-transform: uppercase;
    color: #fafafa;
    text-align: center;
    position: relative;
    font-size: 17px;
    padding: 10px;
    margin: 20px 0 0 0;
}

.inner p {
    font-family: Georgia, serif;
    font-size: 12px;
    position: relative;
    color: #fafafa;
    padding: 10px 20px 20px;
    text-align: center;
}

.toolone .mask {
    transform: translateY(-200px);
    text-shadow: none;
    transition: all 0.3s ease;
}

.toolone h2 {
    transform: translateY(-100px);
    opacity: 0;
    text-shadow: none;
    transition: all 0.5s ease;
}

.toolone p { 
    transform: translateY(100px);
    opacity: 0;
    text-shadow: none;
	transition: all 0.8s ease;
}

.tooltwo .mask {
    transform: translateX(-300px);
    text-shadow: none;
    transition: all 0.3s ease;
}

.tooltwo h2 {
    transform: translateX(-100px);
    opacity: 0;
    text-shadow: none;
    transition: all 0.5s ease;
}

.tooltwo p { 
    transform: translateX(100px);
    opacity: 0;
    text-shadow: none;
	transition: all 0.8s ease;
}

.tooltwob .mask {
    transform: translateX(300px);
    text-shadow: none;
    transition: all 0.3s ease;
}

.tooltwob h2 {
    transform: translateX(100px);
    opacity: 0;
    text-shadow: none;
    transition: all 0.5s ease;
}

.tooltwob p { 
    transform: translateX(-100px);
    opacity: 0;
    text-shadow: none;
	transition: all 0.8s ease;
}

.toolthree .mask {
    transform: translateY(200px);
    text-shadow: none;
    transition: all 0.3s ease;
}

.toolthree h2 {
    transform: translateY(100px);
    opacity: 0;
    text-shadow: none;
    transition: all 0.5s ease;
}

.toolthree p { 
    transform: translateY(-100px);
    opacity: 0;
    text-shadow: none;
	transition: all 0.8s ease;
}

.toolone:hover .mask,
.tooltwo:hover .mask,
.tooltwob:hover .mask,
.toolthree:hover .mask { 
	transform: translateY(0px);
    transform: translateX(0px);
}

.toolone:hover h2,
.toolone:hover p,
.tooltwo:hover h2,
.tooltwo:hover p,
.tooltwob:hover h2,
.tooltwob:hover p,
.toolthree:hover h2,
.toolthree:hover p {
    opacity: 1;
    transform: translateY(0px);
    transform: translateX(0px);
}

.toolone:hover p,
.tooltwo:hover p,
.tooltwob:hover p,
.toolthree:hover p {
    transition-delay: 0.3s;
}

.how .howbox {
	padding-bottom: 20px;
	z-index: 25;
	clear: both;
	background-color: #2525a8;
}


/*------------------------------

            WHO      

-------------------------------*/

.who .intro {
	min-height: 600px;
	max-width: 1920px;
	background-image: url(../img/who/cover.jpeg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	box-shadow:
			0 6px 1px rgba(0,0,0,.1),
            0 0 5px rgba(0,0,0,.1),
            0 1px 3px rgba(0,0,0,.3),
            0 3px 5px rgba(0,0,0,.2),
            0 5px 10px rgba(0,0,0,.25),
            0 10px 10px rgba(0,0,0,.2),
            0 20px 20px rgba(0,0,0,.15);
}

.who .introtag {
	padding-top: 200px;
}

/*------------- BIO -------------*/

.biobox {
	height: auto;
	max-width: 800px;
	overflow: auto;
	padding-bottom: 0;
	margin-top: 30px;
}

.photobox {
	height: auto;
	width: 60%;
}

.photo {
	max-height: 350px;
	max-width: 350px;
	margin: auto;
	margin-top: 25px;
	margin-bottom: 27px;
	overflow: hidden;
	border-radius: 50%;
	filter: grayscale(1);
	background-color: dodgerblue;
	transition: all 1s ease;
}

.photo img {
	height: auto;
	max-width: 350px;
	border-radius: 50%;
}

.biobox:hover .photo {
	filter: grayscale(0);
	-moz-box-shadow: 
	0 6px 1px rgba(0,0,0,.1),
            0 0 5px rgba(0,0,0,.1),
            0 1px 3px rgba(0,0,0,.3),
            0 3px 5px rgba(0,0,0,.2),
            0 5px 10px rgba(0,0,0,.25),
            0 10px 10px rgba(0,0,0,.2),
            0 20px 20px rgba(0,0,0,.15),
            0 -6px 1px rgba(0,0,0,.1),
            0 0 5px rgba(0,0,0,.1),
            0 -1px 3px rgba(0,0,0,.3),
            0 -3px 5px rgba(0,0,0,.2),
            0 -5px 10px rgba(0,0,0,.25),
            0 -10px 10px rgba(0,0,0,.2),
            0 -20px 20px rgba(0,0,0,.15);;
  	-webkit-box-shadow: 
  	0 6px 1px rgba(0,0,0,.1),
            0 0 5px rgba(0,0,0,.1),
            0 1px 3px rgba(0,0,0,.3),
            0 3px 5px rgba(0,0,0,.2),
            0 5px 10px rgba(0,0,0,.25),
            0 10px 10px rgba(0,0,0,.2),
            0 20px 20px rgba(0,0,0,.15),
            0 -6px 1px rgba(0,0,0,.1),
            0 0 5px rgba(0,0,0,.1),
            0 -1px 3px rgba(0,0,0,.3),
            0 -3px 5px rgba(0,0,0,.2),
            0 -5px 10px rgba(0,0,0,.25),
            0 -10px 10px rgba(0,0,0,.2),
            0 -20px 20px rgba(0,0,0,.15);;
  	box-shadow: 
  			0 6px 1px rgba(0,0,0,.1),
            0 0 5px rgba(0,0,0,.1),
            0 1px 3px rgba(0,0,0,.3),
            0 3px 5px rgba(0,0,0,.2),
            0 5px 10px rgba(0,0,0,.25),
            0 10px 10px rgba(0,0,0,.2),
            0 20px 20px rgba(0,0,0,.15),
            0 -6px 1px rgba(0,0,0,.1),
            0 0 5px rgba(0,0,0,.1),
            0 -1px 3px rgba(0,0,0,.3),
            0 -3px 5px rgba(0,0,0,.2),
            0 -5px 10px rgba(0,0,0,.25),
            0 -10px 10px rgba(0,0,0,.2),
            0 -20px 20px rgba(0,0,0,.15);
}

.bio {
	height: auto;
	width: 40%;
}

.bio p  {
	padding: 30px;
	margin-top: 21%;
	text-shadow: none;
	text-align: justify;	
}

/*------------ FUN-FACTS -------------*/

.funcon {
	height: auto;
	max-width: 1040px;
	padding-bottom: 0;
	z-index: 25;
	background-color: #2525a8;
}

.funcon p {
	text-shadow: none;
	line-height: 30px;
}

.funcon h2 {
	padding-top: 30px;
}

.funbox {
	width: 1000px;
	margin: auto;
}

.funfacts {
	margin: auto;
	padding: 8px;
}

.funfacts li {
	height: 50px;
	transition: box-shadow 0.5s ease;
}

.funfacts p {
	transition: all 0.5s ease;
}

.funfacts li:hover {
	background-color: #fafafa;
	box-shadow: 
  			0 6px 1px rgba(0,0,0,.1),
            0 0 5px rgba(0,0,0,.1),
            0 1px 3px rgba(0,0,0,.3),
            0 3px 5px rgba(0,0,0,.2),
            0 5px 10px rgba(0,0,0,.25),
            0 10px 10px rgba(0,0,0,.2),
            0 20px 20px rgba(0,0,0,.15);
}

.funfacts li:hover p {
	color: #2525a8;
	font-size: 1.1em;
	text-transform: uppercase;
}

.facts p {
	padding-top: 10px;
}


/*------------ HISTORY -------------*/

.historybox {
	height: auto;
	max-width: 960px;
}

.hitbox {
	height: auto;
	max-width: 800px;
	margin: auto;
	padding-bottom: 20px;
	overflow: auto;
}

.date {
	height: 100px;
	width: 20%;
	float: left;
	background-color: #2525a8;
}

.date p {
	line-height: 100px;
	font-size: 200%;
}

.hit {
	height: 100px;
	width: 78%;
	padding: 20px;
	float: right;
	overflow: hidden;
	background-color: dodgerblue;
	transition: height 1s ease;
}

.hit p {
	color: #fafafa;
	font-size: 200%;
	text-shadow: none;
	text-align: justify;
	transition: font-size 0.6s ease;
}

.hit:hover {
	height: 300px;
}

.hit:hover p {
	font-size: 100%;
}


/*------------------------------

            WHERE     

-------------------------------*/

.where .intro {
	min-height: 600px;
	max-width: 1920px;
	background-image: url(../img/where/cover.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	z-index: 30;
	box-shadow:
			0 6px 1px rgba(0,0,0,.1),
            0 0 5px rgba(0,0,0,.1),
            0 1px 3px rgba(0,0,0,.3),
            0 3px 5px rgba(0,0,0,.2),
            0 5px 10px rgba(0,0,0,.25),
            0 10px 10px rgba(0,0,0,.2),
            0 20px 20px rgba(0,0,0,.15);
}

.where .introtag {
	padding-top: 200px;
}

/*------------- FORM -------------*/

.formcon {
	margin-top: 30px;
}

.formbox {
	width: 80%;
	margin: auto;
}

.formbox p {
	text-shadow: none;
	padding-bottom: 15px;
	text-align: left;
}

form div {
	padding: 20px;
}

.whowrites {
	width: 50%;
}

input[type="text"], input[type="email"], textarea {
	width: 100%;
	border: none;
	padding: 10px;
	font-family: 'Cabin', sans-serif;
	font-style: italic;
	font-size: 1.2em;
	color: lightgrey;
	background-color: #000229;
}

textarea {
	height: 250px;
}

.writeremail {
	width: 50%;
}

.themessage {
	width: 100%;
}

.submit {
	width: 200px;
	margin: auto;
}

input[type="submit"] {
	height: auto;
	width: 100%;
	font-family: 'Montserrat', sans-serif;
	color: #fafafa;
	font-size: 1em;
	padding: 10px;
	border: 3px solid #fafafa;
	display: block;
	margin: auto;
	background-color: transparent;
	-webkit-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

input[type="submit"]:hover {
	background-color: dodgerblue;
	border: 3px solid dodgerblue;
}
}

/*------------- SOCIAL -------------*/

.socialcon {
	height: 200px;
}

/*------------- RECEIVED -------------*/

.received {
	height: 80px;
	width: 600px;
	margin: auto;
	margin-top: 50px;
}

.received p {
	line-height: 80px;
	text-shadow: none;
}